/*NÃO PRECISAMOS DE 9 CSS BRO! as paginas herdam o css base, se precisamos de algo diferente em uma pagina, 
damos uma classe/id so pra *ELA* diretamente na tag e mudamos aqui no código css unico*/

/*Só precisariamos de mais de um, 
se o css das paginas fossem completamente diferentes ou quisermos alternar todo o estilo da pagina pro algum botão ou função dela*/

:root{ /* Cores, assim fica mais fácil mudar dps ou criar temas (claro e escuro) no futuro */
    --BgColor: rgb(136, 0, 116); 
    --BgGradColor: black;
    --TextColor: white;
}


body{
    background: linear-gradient(var(--BgGradColor), var(--BgColor) );
    color: var(--TextColor);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;   
    margin: 0;

    min-height: 100vh; /*fazer o body ocupar toda a tela dessa merda e parar de repetir o gradiente ou bugar*/
    display: flex;
    flex-direction: column;

}

main{
    flex-grow: 1; /*aumentar o main pra empurrar o footer pro final*/
}
header{
    height: 70px;
    background-color: black;
    width: 100%;
    padding-bottom: 30px;

}
.logo{
    width: 200px;

}
h1{
    font-family: comic sans-serif;
    color: var(--TextColor);
    font-size: 60px;
    text-align: top;
    padding-top: 12px ;
    padding-left: 150px;
    margin: 0px;

}
.banner{
    margin: 0;
    position: flex;
    object-fit: contain;
    display: inline-block; 
    width: 2400px;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    height: auto;
}
img{
    
    max-width: 100%;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;    
}

a{
    color: var(--TextColor);
    text-decoration: none;
    display: block;
    
}

button{ /*Tirei os botoes, logo aqui é meio inutil, mas vou deixar caso vc queira so "adaptar" esse layout que vc fez pros botoes la no nav que coloquei*/

    background: local;
    text-align: center;

    color: var(--TextColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;

    width: 219px;
    height: 100px;

    border-radius: 10px;

    font-size: 19px;
    padding-left: 10px;

}
footer{
    background-color: black;
    padding-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    font-size: 30px;

    padding: 20px 0; /* Arrumei o footer dps das mudanças do html, que ele n tava do tamanho certo*/
}

footer p {
    margin: 0; /*tirei a margin enorme do p pra o footer n ser gigantesco*/
}

/*body e imagem que vc fez para a parte 1, mas agora usando a class e sem arquivo separado*/

body.parte1{
    background-color: var(--BgColor);
} 
img.ImgPt1{
    display: block;
    width: 1280px;
    height: 1000px;
}