@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{ /*PRECISAMOS DEFINIR UMA PALETA DE CORES URGENTE, tá muito meme ir tacando cor aleatoriamente*/
    --BgColor: #880074; 
    --BgGradColor: black;
    --TextColor: white;
    --TextFont: 'Lora'; 

    --BgColorCards: #660626; /*Cor do botão das paginas das partes, preciso escolher uma cor melhor dps*/
    --borderCards: #20031b;
}


body{
    background: linear-gradient(var(--BgGradColor), var(--BgColor) );
    color: var(--TextColor);
    font-family: 'Lora', cursive;
    margin-top: 0px;   
    margin: 0;

    min-height: 100vh; 
    display: flex;
    flex-direction: column;

}

main{
    flex-grow: 1;
}
.main-personagem{
    display: flex;
}

header{
    height: auto;
    background-color: black;
    padding: 20px 20px 20px; /* Diminui o tamanho do header de 40 pra 20*/
    margin-right: 2px; ;

}

.header-home{
    padding: 0
;
}

.logo{
    float: left;
    width: auto;
    height: 135px;
    object-fit:scale-down;


}
h1{
    font-family: var(--TextFont);
    color: var(--TextColor);
    font-size: 60px;
    margin: 0;
}
#tituloHome{
    font-size: 80px;
}
.banner{
    width: 1860px; /* arrumei o tamanho da imagem guri */
    opacity: 50%;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
  font-size: 40px;   
}

a{
    color: var(--TextColor);
    text-decoration: none;
    display: block;
    
}

button{ 
    background: local;
    text-align: center;

    color: var(--TextColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;

    width: 219px;
    height: 100px;

    border-radius: 10px;

    font-size: 19px;
    padding-left: 10px;

}
footer{
    background-color: black;
    padding-top: 0px;
    font-family: var(--TextFont);/* coloquei na nossa fonte*/
    font-size: 35px;
    padding-bottom: 20px;
    text-align: left;
    padding: 20px 0;


}

footer p {
    margin: 0; 
}


body.parte1{
    background-color: var(--BgColor);
}
img.ImgPt1{
    display: block;
    width: 1280px;
    height: 1000px;
}
nav.navPT1 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 0px;
    border-top: solid 2px;

    border-bottom: solid 2px;
    padding-bottom: 10px;

    
}

nav.navPT1 ul li:not(:last-child){
    border-right:  solid 2px;
    padding-right: 40px; /* arrumei o alinhamento das rotas no header  */
}
#cabecalhoPT1{
    size: auto;
}
/* PÁGINA MOLDE PARTES*/

div.grid-galeria{
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

section{
    margin: 50px 20px;
}

section figure{
    max-width: 350px;
    background-color: var(--BgColorCards);
    border: solid 3px var(--borderCards);
    border-radius: 5px;

    padding: 15px;
    justify-self: center;

    opacity: 0.8;

    transition: all 0.1s ease-in-out;
}

section figure:hover{
    scale: 1.1;

    opacity: 1;

    transform: translateY(-50px);
}

section figure h3{
    text-align: center;
    
}

section figure img{
    max-width: 250px;

    border-radius: 50%;
    aspect-ratio: 1/1;

    display: block;
    margin: 0 auto;
    object-fit: cover;
}

button.VerMais{
    display: block;
    margin: 0 auto;
    padding: 12px 20px;

    cursor: pointer;
    font-weight: bold;

    border: 0;
    text-transform: uppercase;

    transition: all 0.2s ease-in-out;
}

button.VerMais:hover{
    scale: 1.1;
    text-decoration: underline;
}



.moldura{
    text-align: center;
    font-size: 20px;
    margin: 0px;
    border: 4px solid black;
    padding: 0PX 0px 0px;

}


img.imagem_moldura{
    height: 250px;
    width: 250px;

}
.container_biografia{
    padding-top: 30px;
    padding-left: 30px;
    
}

.bio-figureCaption{
    background-color: black;
    

}

.bio-text{ 
    padding-top: 30px;
    background-color: rgb(0, 0, 0, 0.6);
    padding-left: 30px;
    margin-top: 30PX ;
}
