body{
    background: linear-gradient(black, rgb(136, 0, 116));
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;   
    margin: 0;

}
header{
    height: 70px;
    background-color: black;
    width: 100%;
    padding-bottom: 30px;

}
.logo{
    width: 200px;

}
p{
    font-family: comic sans-serif;
    color: white;
    font-size: 60px;
    text-align: top;
    padding-top: 12px ;
    padding-left: 150px;
    margin: 0px;

}
.banner{
    margin: 0;
    position: flex;
    object-fit: contain;
    display: inline-block; 
    width: 2400px;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    height: auto;
}
img{
    
    max-width: 100%;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif cursive;    
}

a{
    color: white;
    text-decoration: none;
    display: block;
    
}

button{

    background: local;
    text-align: center;

    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;

    width: 219px;
    height: 100px;

    border-radius: 10px;

    font-size: 19px;
    padding-left: 10px;

}
footer{
    background-color: black;
    padding-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    font-size: 30px;
}