:root{--cor: #61358C}

body{
    background: linear-gradient( #8d2803,#BF681B );
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 15px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}
h1{
    margin-top: 25px;
    text-align: center;
    color:white ;
    
}
h2{
    color: white;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 60px;

}
p{
    color: white;
    font-size: 25px;
    margin-left: 70px;
}

footer{
    background-color: #1B1F23;

}
img{ 
    width: 60px;

}
container-spotify{
    width: 10px;
}