:root{--cor: #61358C;--fonte: "sans"}
@font-face {
    font-family: "sans";
    src: url(..ldfcomicsans-font\Ldfcomicsansbold-zgma.ttf);
   
}
header{
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}
body{
    background: linear-gradient( #8d2803,#BF681B );
    font-family: var(--fonte) cursive;
    font-size: 15px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}
h1,h2{
    margin: px;
    text-align: left;
    color:white ;
    
}
h3{
    text-align: left;
    color: white;
    font-size: 200%;
}
p{
    line-height: 0px;
    font-size: 20px;
    text-align: left;
    color: white;
    font-family: var(--fonte), cursive;
    margin: 50px;
}
footer{
    margin-bottom: 0px;
    position: bottom; 
    padding: 0;
    
}
iframe{
    position: right;
    display: flex;
    width: 40%;
}




