<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phantom Blood</title>
    <link rel="stylesheet" href="../css/style-jojo.css">
</head>
<body class="parte1" id="app">


  
<header>
    <a href="../index.html"> 
      <img class="logo" src="../img/jojo_logo.png" alt="logo">
    </a>
<div id="cabecalhoPT1" >
    <h1>JOJOBOOK</h1>
    <nav class="navPT1" >

  <ul> 
    <li v-for="item in MenuPartes" :key="item.numero">
        <a :href="`page_parte.html?parte=${item.numero}`">{{ item.nome }}</a>
    </li>
</ul>

</nav>
</div>

</header>

<main>

    <section>

    <h2 ref="tituloPersonagens">PERSONAGENS</h2>

    <div class="grid-galeria">
    <a :href="`page_personagem.html?parte=${ParteNumeroAtual}&id=${char.id}`" v-for="char in DadosChars.slice(0, LimiteChars)" :key="char.id" >
    <figure>
        <h3>{{char.nome}}</h3> <!-- Nome personagem -->

        <img :src="char.imagem" :alt="'Foto de ' + char.nome" class="pfp">

        <figcaption> <!-- Poder ou stand ou qualquer outra coisa -->
            <p>Função: {{char.funcao}}</p>
            <p>Idade: {{char.idade}}</p>
            <p>{{ char.nome_poder === null ? 'Poder: ' + char.tipo_poder : char.tipo_poder + ': ' + char.nome_poder }}</p>
        </figcaption> 

    </figure>
    </a>
    </div>

    <button class="VerMais" @click="ExpandirBotao('personagens')"> {{ LimiteChars < DadosChars.length ? 'Ver mais...' : 'Ver menos...' }}</button>

    </section>

    <section>
    <h2 ref="tituloStands">STANDS</h2>

    <div class="grid-galeria">
    <figure v-for="stand in DadosStands.slice(0, LimiteStands)" :key="stand.id">
        <h3> {{stand.nome}}</h3> <!-- Nome Stand -->
        <img :src="stand.imagem" :alt="'Foto de ' + stand.nome + ' Usuário ' + stand.usuario" class="pfp">

        <figcaption> <!-- Usuário ou os atributos do Stand -->
            <p>Usuário: {{stand.usuario}}</p>
            <p>Overrall: {{stand.overall}}</p>
        </figcaption> 
    </figure>
    </div>

    <button class="VerMais" @click="ExpandirBotao('stands')"> {{ LimiteStands < DadosStands.length ? 'Ver mais...' : 'Ver menos...' }}</button>

    </section>

</main>

<footer> 
  <p>©Isaque and Lucas (>_<)</p> 
</footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../javascript/vue.js"></script>
</body>
</html>