<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página personagem</title>
    <link rel="stylesheet" href="../css/style-jojo.css">
</head>

<body>

<Header>
    <a href="../index.html"> 
      <img class="logo" src="../img/jojo_logo.png" alt="logo">
    </a>
<div id="CabeçalhoPT1" >
    <h1>JOJOBOOK</h1>
    <nav class="navPT1" >

    <ul> 
  <li><a href="parte1.html">Phantom Blood</a></li> 

  <li><a href="parte2.html">Battle Tendency</a></li>

  <li><a href="parte3.html">Stardust Crusaders</a></li>

  <li><a href="parte4.html">Diamond is Unbreakable</a></li>

  <li><a href="parte5.html">Vento Aureo</a></li>

  <li><a href="parte6.html">Stone Ocean</a></li>

  <li><a href="parte7.html">Steel Ball Run</a></li>

  <li><a href="parte8.html">JoJolion</a></li>
  </ul>
</nav>
</div>

</header>

<main id="app">
 <div class="container_biografia" >


<figure class="moldura">
    <img class="imagem_moldura"  :src="DadosChar.imagem" alt="jotaro">
    <figcaption class="nome_personagem" >{{DadosChar.nome}}</figcaption>
</figure>
<h3>{{DadosChar.funcao}}</h3>
<h3> Parte: {{DadosChar.parte}} </h3>
<h3> {{DadosChar.tipo_poder}} : {{DadosChar.nome_poder}}</h3>

<h3>Idade: {{DadosChar.idade}}</h3>
<h3>Nacionalidade: {{DadosChar.detalhes?.nacionalidade}}</h3>
<h3>Ocupação: {{DadosChar.detalhes?.ocupacao}} </h3>
<h3>Status: {{DadosChar.detalhes?.status}} </h3>

<h3>Bio:</h3>
<p> {{DadosChar.detalhes?.bio}} </p>

<h3>Bordão: <i>{{DadosChar.detalhes?.bordao}}</i></h3>

<h3>Personalidade:</h3>
<p> {{DadosChar.detalhes?.personalidade}} </p>

<h3>Família:</h3>
<ul>
    <li>
        <h4>Mãe: {{DadosChar.detalhes?.mae}}</h4>
    </li>
    <li>
        <h4>Pai: {{DadosChar.detalhes?.pai}}</h4>
    </li>
    <li>
        <h4>Filhos:</h4>
        <p v-for="filho in DadosChar.detalhes?.filhos">{{filho}}</p>
    </li>
</ul>

<h3>Aparições:</h3>
<ul>
    <li v-for="aparicao in DadosChar.detalhes?.aparicoes"><p>{{aparicao}}</p></li>
</ul>

<h3>Legado:</h3>
<p>{{DadosChar.detalhes?.legado}}</p>

</div>
</main>
    <footer>
        <p>©Isaque and Lucas (>_<)</p>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../javascript/personagem.js"></script>
</body>
</html>